@page "/courses"

@using TeeBox.Application.Services.Interfaces

@inject ICourseService CourseService

<div class="header">
    <h1>Courses</h1>
</div>
<div class="container">
@foreach (var course in courses)
{
    <CourseSingle Course=@course />
}
</div>

@code {

    IEnumerable<CourseDTO> courses = new List<CourseDTO>();

    protected override async Task OnParametersSetAsync()
    {
        courses = await CourseService.GetCourseListAsync();
    }
}
