.course-container {
    background: #e4e4e4;
    padding: 25px;
    border-radius: 15px;
    flex-basis: 27%;
    margin: 10px;
}

.course-container h2 {
    font-size: 24px;
    color: #565656;
    font-weight: 400;
}
